[submodule "js/lib/c4"]
	path = js/lib/c4
	url = git@github.com:EEXCESS/c4.git
[submodule "js/lib/visualization-widgets"]
	path = js/lib/visualization-widgets
	url = https://github.com/EEXCESS/visualization-widgets.git
